.adminLogin .container{
    height: 100vh;
    width: 100vw;
}

.adminLogin .loginForm{
    width: 300px;
}

.adminLogin input{
    height: 40px;
}
.adminLogin button{
    height: 40px;
}

.adminLogin .errorMsg{
    color: red;
    font-size: 14px;
    visibility: hidden;
}

select, option {
    width: 100% !important;
    height: 40px;
}